@page "/User/{Id:int}"

@attribute [Authorize]

@if (Loading)
{
    <div class="card-body center">
        <span class="icon is-large">
            <i class="fas fa-lg fa-solid fa-spinner fa-spin"></i>
        </span>
    </div>
}
else
{
    @if (User.Id == -1)
    {
        <p>User bestaat niet...</p>
    }
    else
    {
        <h1>Details @User.FirstName @User.Name</h1>

        <div>
            <div class="ml-4">
                <h2 class="mb-2">Algemene info</h2>
                <div class="ml-4">
                    <div class="form-check form-switch">
                        <input @onclick="@Toggle" class="form-check-input" type="checkbox" id="switch" @bind="@Edit" />
                        <label class="form-check-labelv" for="switch">User wijzigen?</label>
                    </div>
                    @if (Intern)
                    {
                        <h3 class="mb-2 mt-0">Interne User</h3>
                    }
                    else
                    {
                        <h3 class="mb-2 mt-0">Externe User</h3>
                    }
                    @if (!Edit)
                    {
                        <div class="ml-8">
                            <div>
                                <label class="label">Voornaam: </label>
                                <input type="text" readonly class="input" value="@User.FirstName">
                            </div>
                            <div>
                                <label class="label">Naam: </label>
                                <input type="text" readonly class="input" value="@User.Name">
                            </div>
                            <div>
                                <label class="label">Email: </label>
                                <input type="text" readonly class="input" value="@User.Email">
                            </div>
                            <div>
                                <label class="label">Gms-nummer: </label>
                                <input type="text" readonly class="input" value="@User.PhoneNumber">
                            </div>
                            <div>
                                @if (Intern)
                                {
                                    <label class="label">Opleiding : </label>
                                    <input type="text" readonly class="input" value="@User.Course">
                                }
                                else
                                {
                                    <label class="label">Bedrijf:</label>
                                    <input type="text" readonly class="input" value="@User.Bedrijf">
                                }
                            </div>
                            <div>
                                <p class="label">Contcatpersoon: </p>
                                @if (User.contactPersoon is not null)
                                {

                                    <div>
                                        <label class="label">Email Contactpersoon</label>
                                        <input class="input" readonly type="@User.contactPersoon.Email">
                                    </div>
                                    <div>
                                        <label class="label">Gsm-nummer Contactpersoon</label>
                                        <input class="input" readonly type="@User.contactPersoon.PhoneNumber">
                                    </div>
                                }
                                else
                                {
                                    <p class="input">Deze User heeft geen contactpersoon</p>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <EditForm Model="@model" OnValidSubmit="@EditUser">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            <div>
                                <label class="label">Voornaam: </label>
                                <InputText class="input" @bind-Value="@model.FirstName" />
                            </div>
                            <div>
                                <label class="label">Naam: </label>
                                <InputText class="input" @bind-Value="@model.Name" />
                            </div>
                            <div class="control">
                                <label class="label">Email: </label>
                                <InputText class="input" @bind-Value="@model.Email" />
                            </div>
                            <div class="control">
                                <label class="label">Gms-nummer: </label>
                                <InputText class="input" @bind-Value="@model.PhoneNumber" />
                            </div>
                            @if (model.Course is not null)
                            {
                                @* <div>
                                    <label>Opleiding</label>
                                    <InputText class="input" @bind-Value="@model.Opleiding"/>
                                    </div>*@
                            }
                            else
                            {
                                <div>
                                    <label class="label">Bedrijf:</label>
                                    <InputText class="input" @bind-Value="@model.Bedrijf" />
                                </div>

                            }
                            @if (model.Contactpersoon is not null)
                            {
                                <div>
                                    <p class="label">Contcatpersoon: </p>
                                    <div>
                                        <label class="label">Email Contactpersoon</label>
                                        <InputText class="input" readonly type="@model.Contactpersoon.Email" />
                                    </div>
                                    <div>
                                        <label class="label">Gsm-nummer Contactpersoon</label>
                                        <InputText class="input" readonly type="@model.Contactpersoon.PhoneNumber" />
                                    </div>
                                </div>
                            }
                            <button class="button mt-2" type="submit" @onclick="@EditUser">User wijzigen</button>
                        </EditForm>
                    }
                </div>
            </div>
        </div>
    }
}