@page "/User/{UserId}"

@attribute [Authorize]

@if (Loading)
{
                                        <div class="card-body center">
                                            <span class="icon is-large">
                                                <i class="fas fa-lg fa-solid fa-spinner fa-spin"></i>
                                            </span>
                                        </div>
}
else
{
    @if (User == null)
    {
                                                                                <p>User bestaat niet...</p>
    }
    else
    {
                                                                                    <h1>Details @User.FirstName @User.Name</h1>

                                                                                    <div>
                                                                                        <div class="ml-4">
                                                                                            <h2 class="mb-2">Algemene info</h2>
                                                                                            <div class="ml-4">
                    @if (Intern)
                    {
                                                                                                                                                                                    <h3 class="mb-2 mt-0">Interne User</h3>
                    }
                    else
                    {
                                                                                                                                                                                    <h3 class="mb-2 mt-0">Externe User</h3>
                    }

                                                                                                                    <div class="ml-8">
                                                                                                                        <div>
                                                                                                                            <label class="label">Voornaam: </label>
                                                                                                                            <input type="text" readonly class="input" value="@User.FirstName">
                                                                                                                        </div>
                                                                                                                        <br>
                                                                                                                        <div>
                                                                                                                            <label class="label">Naam: </label>
                                                                                                                            <input type="text" readonly class="input" value="@User.Name">
                                                                                                                        </div>
                                                                                                                        <br>
                                                                                                                        <div>
                                                                                                                            <label class="label">Email: </label>
                                                                                                                            <input type="text" readonly class="input" value="@User.Email">
                                                                                                                        </div>
                                                                                                                        <!--<div>
                                                                                                                            <label class="label">Gms-nummer: </label>
                                                                                                                            <input type="text" readonly class="input" value="@User.PhoneNumber">
                                                                                                                        </div>-->
                                                                                                                        <div>
                                                                                                                        <br>
                            @if (@User.user_metadata.Intern)
                            {
                                                                                                                                                                <label class="label">Opleiding : </label>
                                                                                                                                                                <input type="text" readonly class="input" value="@User.user_metadata.Course">
                            }
                            else
                            {
                                                                                                                                                                <label class="label">Bedrijf:</label>
                                                                                                                                                                <input type="text" readonly class="input" value="@User.user_metadata.Bedrijf">
                            }



                                                                                                                            </div>
                                                                                                                        </div>


                                                                                </div>
                                                                            </div
                                                                        </div>
    }
}
