@page "/klanten"
@attribute [Authorize(policy: "AdminOnly")]

@if (Users is null || Users.Count() == 0)
{
    <p>Geen klanten...</p>
}
else
{
    <div class="card-body table is-striped is-hoverable">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Naam</th>
                    <!--<th>Gsm-nummer</th>-->
                    <th>Email</th>
                    <th>Acties</th>
                </tr>
            </thead>
            @foreach (var kl in Users)
            {
                <tbody>
                    <tr>
                        <td>@kl.Id</td>
                        <td>@kl.FirstName @kl.Name</td>
                        <!--<td>@kl.PhoneNumber</td>-->
                        <td>@kl.Email</td>
                        <td>
                            <button @onclick="() => NavToDetail(kl.Id)">
                                Details
                            </button>
                        </td>
                    </tr>

                </tbody>
            }
        </table>
    </div>
    
}
