@page "/beschikbaarheid"

@attribute [Authorize("AdminOnly")]
<h1 class="is-title-3">Beschikbaarheden op datum</h1>

<div class="container">
    <div class="form-container">
        <div class="flex">
            <EditForm Model="request" OnValidSubmit="@GetAvailableResources">
                <label class="px-4" for="date">Start Datum:</label>
                <InputDate @bind-Value="DateStart"/>
                <label class="px-4" for="date">Eind Datum:</label>
                <InputDate @bind-Value="DateEnd"/>
                <button class="btn btn-primary" type="submit">Submit</button>
            </EditForm>
        </div>
        <div>
            <i class="fa-solid fa-square-poll-vertical fa-2x" @onclick="Toggle"></i>
        </div>
    </div>
    @if (loading)
    {
        <span class="icon is-large">
            <i class="fas fa-lg fa-solid fa-spinner fa-spin"></i>
        </span>
    }
    else if(_active)
    {
        <div class="graph-container">
            <Client.Servers.Component.Graph Data="_data"/>
        </div>
    }
    else if (Servers is not null && Servers.Count() > 0)
    {
        <div class="columns is-desktop is-multiline">

            @foreach (var server in Servers)
            {
                <div class="column is-one-third-widescreen is-half-desktop">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-header-title">Server: @server.Id</h3>
                        </div>
                        <div class="card-body">
                            <p>Geheugen/Ram: @(server.AvailableHardware.Memory + " GB")</p>
                            <p>Opslag: @(server.AvailableHardware.Storage + " GB")</p>
                            <p>Aantal Cores: @server.AvailableHardware.Amount_vCPU</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>


                        
@code{
    private bool _active = false;
    private bool loading = false;

    private async void Toggle()
    {
        _active = !_active;
        

        if(_data  != null){
            if(_data.Count == 0){
                loading = true;
                await GetAvailableResourcesTotal();
                loading = false;
            }
        }
        StateHasChanged();
    }
}